.chart rect {
  fill: #0099FF;
}

.chart text {
  font: 12px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis .minor line {
  stroke: #777;
}