
nav.navbar.navbar-default(role="navigation")
  div.container-fluid
    // Brand and toggle get grouped for better mobile display
    div.navbar-header
      button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Roadmap

    // Collect the nav links, forms, and other content for toggling
    div.collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/calendar") Calendar
        li
          a(href="/timeline") Roadmap
      ul.nav.navbar-nav.navbar-right
        form.navbar-form.navbar-left(role="search")
          .form-group
            input(type="text" class="form-control" placeholder="Search")
          button(type="submit" class="btn btn-default") Submit
        li
          a#login(href="#") Link
